@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background-image: url("/public/assets/img/christmas-bauble.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Arima Madurai", cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
